@font-face {
    font-family: Karla;
    src: url(../Karla-VariableFont_wght.ttf);
}

:root{
    --primary-green-light: hsl(148, 38%, 91%);
    --primary-green-dark: hsl(169, 82%, 27%);
    --primary-red: hsl(0, 66%, 54%);
    --neutral-white: hsl(0, 0%, 100%);
    --nutral-gray-medium: hsl(186, 15%, 59%);
    --nutral-gray-dark: hsl(187, 24%, 22%);
}

*{
    font-family: Karla;
    margin-bottom: 5px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-green-light);
}

.container{
    width: 40%;
    min-width:min-content;
    padding: 30px;
    background-color: var(--neutral-white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 20px;
}

.main-title{
    width: 100%;
    display: block;
}

.form-group{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.width-50{
    width: 48%;
}

.radio-group{
    width: 48%;
    padding: 10px;
    align-items: center;
    border: 1px solid var(--nutral-gray-medium);
    border-radius: 7px;
}

.form-label{
    display: block;
    width: 100%;
    font-size: 16px;
}

.form-input{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    display: block;
    font-size: 16px;
    padding: 12px;
    border-radius: 7px;
    border: 1px solid var(--nutral-gray-medium);

}

.form-input:focus {
    border: 2px solid var(--primary-green-dark);
    outline: none;
}

.form-button{
    width: 100%;
    padding: 12px;
    border-radius: 7px;
    border: none;
    background-color: var(--primary-green-dark);
    color: var(--neutral-white);
    font-size: 16px;
    cursor: pointer;
}

.error{
    display: block;
    color: var(--primary-red);
    min-width: 250px;
}

input[type="radio"]{
    accent-color: var(--primary-green-dark);
}

.radio-group:has(input[type="radio"]:checked){
    border: 1px solid var(--primary-green-dark);
    background-color: var(--primary-green-light);
}

input[type="checkbox"]{
    accent-color: var(--primary-green-dark);
}

.required{
    color: var(--primary-green-dark);
    display: inline;
}

@media (max-width: 768px) {
    .container{
        width: 90%;
    }

    .form-group{
        width: 100%;
    }

    .radio-group{
        width: 100%;
    }
}